<html>
<head><title>${appName}</title></head>
<body>


<p>Nous sommes le <span th:text="${#temporals.format(localDateTime, 'dd-MM-yyyy')}">date du jour</span></p>
<a href="/">index</a>
</br>
<a href="/date_heure">date</a>  

</br>
</br>

   <span th:if="${#temporals.dayOfWeekName(localDateTime).equals('samedi') || #temporals.dayOfWeekName(localDateTime).equals('dimanche') }">Week-End !</span>
<span th:unless="${#temporals.dayOfWeekName(localDateTime).equals('samedi') || #temporals.dayOfWeekName(localDateTime).equals('dimanche') }">Au boulot !</span>
   
</br>
</br>



<td th:switch="${saison}">
<span th:case="'hiver'"><img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/winter-solstice.jpg?itok=9iEebU2H"></span>
<span th:case="'printemps'"><img src="https://www.almanac.com/sites/default/files/styles/primary_image_in_article/public/image_nodes/spring-276014_1920.jpg?itok=K-w3JOQu"></span>
<span th:case="'ete'"><img src="https://inboxpros.com/wp-content/uploads/2016/06/summer-768x432.jpg"></span>
<span th:case="'automne'"><img src="https://img.purch.com/w/660/aHR0cDovL3d3dy5saXZlc2NpZW5jZS5jb20vaW1hZ2VzL2kvMDAwLzAyMC8wMjIvb3JpZ2luYWwvNC1hdXR1bW4tY2l0eS1wYXJrLmpwZw=="></span>

</td>
<br/>
<br/> 


 <ul th:each="saison: ${annee}"> 
 <li th:text="${saison.name}" th:style="${saison.current == true} ? 'font-weight: bold'" > /></li>
 
 
 </ul>
 
 </body>
</html>
   
 